[Desktop Entry]
Type=Application
Name=PulseAudio Volume Control
GenericName=Audio Volume Control
Comment=Adjust the volume level
Exec=pavucontrol
Icon=pavucontrol
Terminal=false
Categories=AudioVideo;Mixer;
Keywords=audio;sound;volume;mixer;pulse;pulseaudio;
StartupNotify=true
